# General
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
build/

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variable files
.env

# frontend config file
config/index.js

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache
.module-cache

scripts/flow/*/.flowconfig

# Ignore all files in the .idea directory except the ones listed below
.idea/*
!.idea/codeStyles
!.idea/runConfigurations
!.idea/vcs.xml

# Ignore specific files
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/libraries
.idea/misc.xml

