@mixin hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hero-4-bg {
    padding: 220px 0 180px;
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    .hero-4-title {
        font-size: 46px;
    }
}

// Responsive
@media (min-width: 200px) and (max-width: 768px) { 
    .hero-4-bg {
        padding: 110px 0 80px;
    }
}

@media (min-width: 200px) and (max-width: 576px) { 
    .hero-4-title {
        font-size: 32px !important;
    }
}

